<div class="main-content" style="background-color: blue">
    <div class="card">
        <div class="card-body" style="text-align: center">
            <div class="row">
                <div class="row card">
                    <div class="card-body">
                        <input (keyup)="onKey($event)" type="text" placeholder="Please enter comment!" />
                        <button class="btn btn-success" (click)="onClickSend()">SEND</button>
                        <h3 *ngIf="trained"> {{prediction}} </h3>
                    </div>
                </div>
            </div>
            <div class="row mt-4 card">
                <div class=card-body>
                    <h1>Graph</h1>
                    <button class="btn btn-success" (click)="onClickSendGraph()">SEND</button>
                </div>
            </div>
            <div class="row mt-4 card">
                <div class="card-body">
                    <h1>Heatmap</h1>
                    <button class="btn btn-success" (click)="onClickSendHeatmap()">SEND</button>
                </div>
            </div>
        </div>
    </div>
</div>